@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

html {
    background-image: url('back-img.jpeg');

    background-attachment:fixed;
    background-size: cover;
    
}

header {
    border-bottom: 1px solid black;
    height: 40px;
    padding-top: 15px;
    padding-left: 10px;
    background-color:rgba(128, 128, 128, 0.82);
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
    transition: .3s ease-in-out;
}

a:hover{
    color: rgb(169, 62, 151);
    transition: .3s ease-in-out;
    
}

.intro {
    background-color: rgba(137, 118, 118, 0.846);
    width: fit-content;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(93, 7, 7, 0.889);
}

h1 {
    font-family: 'Lily Script One', cursive;
    color: #c9e971;
}

h2 {
    background-color:rgba(188, 168, 150, 0.357);
    border-radius: 10px;
}

h3 {
    text-align: center;
}

.img-info {
    background-color: rgba(49, 52, 83, 0.743);
    width: 270px;
    border-radius: 0px 10px 10px 0px;
    margin: 30px;
}

#img-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
    height: 220px;
    width: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 30px;
}

p {
    margin-top: 3px;
    font-weight: bold;
}

main {
    margin-left: 10px;
}

#list {
    background-color: rgba(58, 69, 131, 0.826);
    margin-bottom: 150px;
    width: 60vh;
    border-radius: 10px 10px 10px 0px;
    max-height: fit-content;
    min-height: fit-content
}

#list h2 {
    text-align: center;
}

table {
    background-color: rgba(138, 115, 193, 0.816);
    border-radius: 10px 10px 10px 0px;
    text-align: center;

}

ol {
    background-color: rgba(138, 115, 193, 0.816);
    border-radius: 10px 10px 10px 0px;
    height: fit-content;
    width: fit-content;
}

footer {
    position: relative;
    bottom: -50px;
    background-color: rgba(96, 47, 47, 0.816);
    margin-top: 100px;
    width: fit-content;
    font-size: 15px;
}